  <div class="site-wrapper">


            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <h2 class="masthead-brand"></h2>
                            <nav>
                                <ul class="nav masthead-nav">
                                    <li><a href="#">home</a></li>
                                    <li><a target="_blank" href="http://stackoverflow.com/cv/codejunior">cv </a></li>
                                    <li><a href="#">playground</a></li>
                                    <li><a href="#">projects</a></li>
                                    <li><a href="blog">blog</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="inner cover">
                        <h1 class="cover-heading">PUTERA KAHFI</h1>
                        <p class="lead"> WEB DEVELOPER <b>FOR FUN </b> </p>

                        <p class="lead" id="social-navs">
                            {% if site.author.facebook_username %}
                            <a target="_blank"  href="https://www.facebook.com/codejunior" class="btn " data-toggle="tooltip" data-placement="top" title="Facebook" ><span class="fa fa-2x fa-facebook-square"></span></a>
                            {% endif %}

                            <a  target="_blank" href="https://github.com/puterakahfi" class="btn" data-toggle="tooltip" data-placement="top" title="Github"><span class="fa fa-2x fa-github"></span></a>
                            <a target="_blank" href="https://id.linkedin.com/in/putera-kahfi-52663b48" class="btn" data-toggle="tooltip" data-placement="top" title="Linkedin"><span class="fa fa-2x fa-linkedin"></span></a>
                            <a target="_blank" href="http://stackoverflow.com/users/5960789/putera-kahfi" class="btn " data-toggle="tooltip" data-placement="top" title="Stackoverflow"><span class="fa fa-2x fa-stack-overflow"  ></span></a>
                            <a target="_blank" href="https://id.pinterest.com/puterakahfi" class="btn pinterest " data-toggle="tooltip" data-placement="top" title="Pinterest"><span class="fa fa-2x fa-pinterest"></span></a>
                            <a target="_blank" href="https://dribbble.com/codejunior" class="btn dribble " data-toggle="tooltip" data-placement="top" title="Dribble"><span class="fa fa-2x fa-dribbble"></span></a>

                        </p>
                    </div>

                </div>

            </div>



<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
