/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    font-family: 'Roboto', sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    /* background:  url(../img/slides/1.jpg) top left; */
    background: black;
    z-index: 200;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 2.5em;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        //float: right;
    }
}


/*
 * Cover
 */

.cover {
    
    padding: 0 20px;
    z-index: 3;
    position: relative;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.cover-heading{
    font-size: 9.5em;
    letter-spacing: -3px;
}


/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}



/** PRELOADER **/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* =Preloader */
#preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color:#001C23 ;
    color: #ffffff; }
#preloader .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
#preloader .txt-perc {
    font-size: 4em;
    font-family: 'Roboto Condensed', Helvetica, Helvetica Neue, Arial, sans-serif;
    opacity: 1;
    margin: 0 0 6px 0;
    margin-top: 45px;
    max-width: 400px;
    text-align: center; }
#preloader .progress {
    width: 100px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto 15px auto; }
#preloader .progress span {
    display: block;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); }
#preloader.is-hidden {
    visibility: hidden;
    opacity: 0; }

.is-loading {
    overflow: hidden; }

/* =Header */
.header-container {
    text-align: center;
    color: #ffffff; }
.header-container .wrapper {
    padding-top: 120px;
    z-index: 2;
    position: relative; }
.header-container .bcg {
    -webkit-transition: -webkit-transform 4s ease-out;
    transition: transform 4s ease-out;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center; }
.header-container.is-loaded .bcg {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.bcg {
    background: no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5; }
.header-container .bcg {
    background-image: url(../img/img_mountains01.jpg);
    background-size: cover; }
#slide01 .bcg {
    background: url(../img/img_mountains02.jpg) no-repeat center center;
    background-size: cover; }
#slide02 .bcg {
    background: url(../img/img_mountains03.jpg) no-repeat center center;
    background-size: cover; }
#slide03 .bcg {
    background: url(../img/img_mountains04.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.7; }


.btn .pinterest{
    background: #BC1D23;
}

/** SOCIAL ICONS **/
.fa-facebook:hover,.fa-facebook-square:hover{color: #47639E;}
.fa-github:hover{color:#BFBFBF;}
.fa-linkedin:hover{color:#1E87BE;}
.fa-stack-overflow:hover{color:#F48024;}
.fa-pinterest:hover{color:#BC1D23;}
.fa-dribbble:hover{color:#C7306A}

#social-navs{
    position:relative;
    z-index: 3;
}

/** Social navs buttons **/
#social-navs .btn{
    margin: 0px;
    padding: 0px 5px;
}


/** particles **/
canvas.sketch{
    position: absolute;
    background: red;
    width: 100%;
    top:0px;
}



#loader {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 2s linear 0s normal none infinite running spin;
    border-color: #3498db transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    display: block;
    height: 150px;
    left: 50%;
    margin: -75px 0 0 -75px;
    position: relative;
    top: 50%;
    width: 150px;
}
#loader::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 3s linear 0s normal none infinite running spin;
    border-color: #e74c3c transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    bottom: 5px;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}
#loader::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 1.5s linear 0s normal none infinite running spin;
    border-color: #f9c922 transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    bottom: 15px;
    content: "";
    left: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
}
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
.ir {
    background-color: transparent;
    border: 0 none;
    overflow: hidden;
}
.ir::before {
    content: "";
    display: block;
    height: 150%;
    width: 0;
}

/** line styles **/
hr.side-transparent {
    color: white;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.small-hr {
    border: solid 2px #F05638;
    opacity: 10!important;
    width: 100px;
    margin: 0;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.center-block {
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;

}

#particles-js.under-construction{
    background: url("https://pixabay.com/get/e83db10a2cf01c22d9584518a33219c8b66ae3d11cb6144691f0c078/sunset-180544_1920.jpg") top left;
}